/* Variables globales */
$primary-color: #f8450d;
$secondary-color: #d0cccc;
$text-color: #000000;
$hover-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);

/* Estructura de bloque principal */
.block-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem 0;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 60px;
  background-color: #000;
  width: 90dvw !important;
  height: 100dvh !important ;

  @media (min-width: 768px) {
    gap: 1.5rem;
    .block-item {
      padding: 1.5rem;
    }
    .block-title {
      font-size: 1.5rem;
    }
  }

  @media (min-width: 990px) {
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    top: 10px;
    gap: 15px;
    padding: 1.2rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #252838;
    border-radius: 40px;
    height: 100dvh;
  }
}

.container__list {
  background-color: #000;
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
}

.block-item {
  position: relative; // Necesario para posicionar elementos absolutos
  max-width: 220px;
  padding: 55px 26px;
  border-top: 3.5px solid $primary-color;
  border-left: 3.5px solid $primary-color;
  border-block-end: 3.5px solid $secondary-color;
  border-radius: 25px;
  cursor: pointer;
  transition: border 150ms ease-in, transform 200ms ease-in-out;
  min-height: 240px;
  overflow: hidden; // Oculta a los elementos absolutos que se salen
  background: #0c0d12;

  &:hover {
    border: 3.5px solid $primary-color;

    /* Solo para pantallas grandes */
    @media (min-width: 990px) {
      transform: scale(1.05);
      box-shadow: $hover-shadow;
    }
  }

  /* Media queries para pantallas grandes */
  @media (min-width: 990px) {
    max-width: 250px;
    padding: 1.75rem;
    border-radius: 30px;
    min-height: 300px;
  }

  /* Media queries para pantallas pequeñas */
  @media (max-width: 768px) {
    max-width: 100%; // Asegura que ocupe todo el ancho disponible en pantallas pequeñas
    padding: 1rem; // Reduce el padding para evitar desbordamientos
    min-height: 200px; // Reduce la altura mínima
  }
}

/* Título de los bloques */
.block-title {
  font-size: 1.5rem !important;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: $text-color;
  font-family: var(--font-Roboto_Slab) !important;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important;
  color: #fff !important;
  background: linear-gradient(188deg, #777777, #c0382b, #f39c19) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  display: inline-block; // Asegura que el degradado se aplique correctamente

  /* Media queries para pantallas grandes */
  @media (min-width: 990px) {
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
  }

  /* Media queries para pantallas pequeñas */
  @media (max-width: 768px) {
    font-size: 1rem; // Aumenta ligeramente el tamaño en pantallas pequeñas
  }
}

/* Notas de los bloques */
.block-notes {
  color: $secondary-color;
  font-size: 18px !important;

  /* Media queries para pantallas grandes */
  @media (min-width: 990px) {
    font-size: 16px;
    line-height: 1.6;
    color: #b0b0b0;
  }

  /* Media queries para pantallas pequeñas */
  @media (max-width: 768px) {
    font-size: 12px; // Reduce el tamaño en pantallas pequeñas
    line-height: 1.4; // Mejora la legibilidad
  }
}

/* Estilos para el estado vacío */
.empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  color: $text-color;
  background-color: #0c0d12;
  padding: 2rem;

  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: $primary-color;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  p {
    font-size: 1.2rem;
    color: $secondary-color;
    line-height: 1.6;
  }

  /* Media queries para pantallas grandes */
  @media (min-width: 990px) {
    h2 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.5rem;
    }
  }

  /* Media queries para pantallas pequeñas */
  @media (max-width: 768px) {
    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
